//importacines sass
@import "src/app/shared/themes/_paletaprincipal";

/* .container-fluid {
  height: 100vh;
  font-weight: 400;
  line-height: 40px;

}

h2{

}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;

}

.my-form > * {
  font: 1.4em "Unkempt", sans-serif;
}

.my-form {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.8fr;
  grid-auto-flow: row;
  grid-gap: 0.8em 0.5em;
  padding: 1.0em;
  width: 90%;
  height: 600px;

  border-radius: 3px;
  background: #23252f;
  box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
}

.my-form > label,
.my-form > fieldset {
  grid-column: auto;
  grid-row: auto;
  color: $texto-azul2;
}

.my-form > input,
.my-form > select,
.my-form > textarea,
.my-form > button {
  grid-column: auto;
  grid-row: auto;
  padding: 0.4em;
  border: 0;
  color: $texto-azul2;
}

.my-form {
  input.ng-invalid {
    border-left: 2px solid red;
  }

  input.ng-valid {
    border-left: 2px solid green;
  }

  input.ng-untouched {
    border-left: 1px solid blue;
  }
}

.my-form > fieldset {
  grid-column: span 1;
}

.my-form > button {
  background: $c_tercero_d;
  color: $texto-azul2;
}

.my-form {
  input {
    background-color: $c_segundo_d;
  }
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 18px;
    background: #343a40;
    box-shadow: 10px 10px 26px #24292d, -10px -10px 26px #444b53;

    height: 50%;
    width: 80%;
  }
}

select {
  background: $c_segundo_d;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 200px;
  text-align: center;
  h2 {
    color: $texto-azul2;
    font-size: 40px;
  }
}

.tituloerror {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 200px;
  text-align: center;
  h2 {
    color: $texto-azul2;
    font-size: 40px;
  }
}

.tituloform {
  position: relative;
}

input.ng-invalid {
  border-left: 15px solid red;
}

.error {
  color: red;
  font-size: 30px;
}

.titulologin {
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 50px;
}

.ng-template {
  background-color: red;
} */

/* variables */
// $texto-azul2;
// $c_segundo_d

/* resetear */
.container-fluid, p, a, ul, li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li{
  list-style-type: none;
}

/* Estilo Base*/
.container-fluid{
  background-color: $c_tercero_d;
  overflow-x: hidden;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Arimo', sans-serif;
}

h1{
  color: $texto-azul2;
  font-weight: normal;
  line-height: 3.5;
}
label{
  background-color: blue;
  display: inline-block;
}

// FORMULARIO
.form-container{
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: 100%;

 
}
.form{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%; /* a cambiar */
}
form{
  display: flex;
  justify-content: space-evenly;
 

  border-radius: 10px;
  background: linear-gradient(145deg, #2f343a, #383e44);
  box-shadow:  8px 8px 11px #24292d,
             -8px -8px 11px #444b53;
}
.logintitle{
  font-size: 20px;
  text-align: center;
}
/* ------  border errores INPUT Y SELECT  ------- */
input.ng-invalid {
  border-bottom: 1px solid red;
}
input.ng-valid{
  border-bottom: 1px solid green;
}
input.ng-untouched {
  border-bottom: 1px solid $texto-azul3;
}

select.ng-invalid {
  border-bottom: 1px solid $texto-azul3;
}
select.ng-valid {
  border-bottom: 1px solid green;
}


.grupo{
  padding: 5px;
}

// tamaño button, inputs, 
button, input, select{
  width: 100%;
}

  // inputs, select y boton del formulario
button{
  /* width: 200px; */ // error
  display: inline-block;
  border: 2px solid $texto-azul2;
  color: $texto-azul2;
  padding: 6px 10px;
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  border: none;
  background: linear-gradient(315deg, #2f343a, #383e44);
  box-shadow:  -9px -9px 18px #23272c,
             9px 9px 18px #454d54;
  
}
button:hover{
  color: $texto-azul3;
  background: $texto-azul2;
}

//btns boton de enviar + mensaje de error al tener contraseña incorrecta
.btns{

  height: 100px;
  button{

    height: 40px;
  }
  .texto{ /* VAMOS A TENER QUE IR CAMBIANDOLE EL TAMANO DEL TEXTO EN TODOS TAMAÑOS */
    
    width: 180px;
    background-color: blue;
    span{
      text-align: center;
      font-size: 10px;
    }
    
  }
}

input, select{
  background: rgba(255,255,255, 0.06);
  padding: 10px 14px;
  /* border-radius: 5px; */
  outline: none;
  border: none;
  border-bottom: 1px solid;
  color: #798fa5;
}
input::placeholder{
  color: #798fa5;
}
option{
  background-color: $c_tercero_d;
}
/* select{
  background-color: $c_tercero_d;

} */

//boton datos no ingresados
/* .invalidbtn{
  
} */


/* Fuentes fonts*/

/* Mobile-first aproach */

/* small tablet styles */
@media screen and (min-width: 620px){
   /* .container-fluid{
     background-color: red;
   } */
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px){
  /* .container-fluid{
    background-color: blue;
  } */
}

/* desktop styles*/
@media screen and (min-width: 1200px){
  /* .container-fluid{
    background-color: green;
  } */
}

/* super desktop large*/
@media screen and (min-width: 1600px){
  /* .container-fluid{
    background-color: purple;
  } */
}



/* 
@media screen and (min-width: 300px) {
  .container-fluid {
    width: 100%;
    background-color: pink;
    
    
  }

  
}

 


@media screen and (min-width: 480px) {

  .container-fluid {
    width: 450px;
    background-color: blue;
    
  }


}

@media screen and (min-width: 600px) {

  .container-fluid {
    width: 570px;
    background-color: red;

    
  }

  
}

@media screen and (min-width: 768px) {

  .container-fluid {
    width: 738px;
    background-color: brown;

    
  }

  
}

@media screen and (min-width: 992px) {

  .container-fluid {
    background-color: chartreuse;

    width: 962px;
    

   
  }

 
}

@media screen and (min-width: 1280px) {

  .container-fluid {
   background-color: darkviolet;

    width: 1250px;

    
  }

 
}
 */