//colores globales
$white: #FFFFFF;
$texto_primero: #6e707c;
$texto_secundario: #D4D4D4;
$texto-tercero: #C2C2C2;
$texto-cuarto: #EDEDED;

$texto-azul1: #8AC4FF;
$texto-azul2: #C7E3FF;
$texto-azul3: #75BAFF;
$texto-azul4: #7595b6;


// paleta numero uno
$c_primero_a: #F2F3EE;
$c_segundo_a: #abafa3;
$c_tercero_a: #57898f;
$c_cuarto_a: #1e2c22;
$c_quinto_a: #4c5e51;

// paleta numero dos
$c_primero_b: #A496B0;
$c_segundo_b: #685F70;
$c_tercero_b: #DFCCF0;
$c_cuarto_b: #EBD7FC;
$c_quinto_b: #C7B6D6;

//paleta numero tres
$c_primero_c: #e0ebf7;
$c_segundo_c: #b6d9fb;
$c_tercero_c: #98acf8;
$c_cuarto_c: #b088f9;
$c_quinto_c: #da9ff9;

// paleta numero cuatro
$c_primero_d:#F8F8F2;
$c_segundo_d:#98A6AD;
$c_tercero_d:#343A40;
$c_cuarto_d: #272935;
$c_quinto_d: #23252F;
$c_sexto_d: #03AFFF;
