@import "src/app/shared/themes/_paletaprincipal";

//TOOLTIP CONFIG
.tooltipr{
  height: 80px;
  color: $texto-azul4;
  font-size: 1.0vw;
}

.container-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  
  padding-top: 10px;

  overflow-y: scroll;
  /* background-color: $c_tercero_d; */
  width: 60%;
  height: 94vh;

  border-radius: 5px;
  background: #23252f;
  box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
}



/* .buscarmateria {
  background: red;
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 280px;
  i {
    font-size: 28px;
  }
} */

.formtitulo {
  position: absolute;
  background-color: #272935;
  height: 20%;
  left: 15px;
  top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  //titulo
  span {
    text-align: center;
    font-size: 1.3vw;
    color: $texto-azul1;
  }
}

form {
  /* CAMBIAR ESTO QUE ES LO QUE MODIFIQUE AL ULTIMO */
  position: relative;
  z-index: 50;
  width: 18vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* .iconosearch{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;

    i{
      font-size: 2.4vw;
      color: $c_segundo_d;
    }
  } */
}

//reg navbar
.regnavbar {
  border-bottom: 2px solid $c_tercero_d;
  input {
    width: 14vw;
    height: 3.5vh; /*  MODIFICADO AL ULTIMO ----------------------------*/
    padding: 2px;
    font-size: 1vw;
    /* border-width: 1px; */
    /* border-color: #cccccc; */
    background: transparent;
    color: white;
   /*  border-style: ridge; */
    /* border-radius: 5px; */
    /* box-shadow: -5px -1px 5px rgba(66, 66, 66, 0.7); */
    /* text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.72); */
    text-align: center;
    border: none;
  }
  /* input:focus {
    background: rgba(66, 63, 78, 0.595);
    border-radius: 5px;
    color: white;
    font-size: 0.4vw;
    width: 14vw;
    height: 3.5vh;
  } */
}

.mensaje {
  transition-delay: 7s;
}

.card {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 280px;
  background: $c_cuarto_d;
  box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
  /* ::-webkit-scrollbar {
    scrollbar-color: yellow;
  } */
}

.card:hover {
  transition: all 0.7s ease-out;
  border-radius: 13px;
  background: #1a1c24;
  box-shadow: -12px -12px 24px #171920, 12px 12px 24px #1d1f28;
  border: 1px solid white;
  .cardinterior {
    .left {
      .iconofecha {
        .profesortitle {
          h4,
          h3 {
            color: $texto-azul1;
          }
        }
      }
      .virtual {
        .profesortitle {
          h4,
          h3 {
            color: $texto-azul1;
          }
        }
      }
    }
    .txtcontainer {
      h3 {
        color: $texto-azul1;
      }
    }
  }
}

// titulo de que materia es ej: ingles, matematicas, etc
.txtcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  h3 {
    font-size: 1.5vw;
    color: $texto-azul4;
  }
}

// card spacer
.cardspacer {
  padding: 15px;
}

.cardinterior {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .left {
    .iconofecha,
    .virtual {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100px;
    }
  }

  .right {
    .iconofecha,
    .ciudad {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 260px;
      height: 100px;
    }
  }

  .profesortitle {
    width: 200px;
    text-align: center;
    h4 {
      font-size: 18px;
      color: $texto-azul4;
    }
  }

  .icono {
    background: $c_quinto_d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    font-size: 25px;
    color: $c_segundo_d;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

p {
  color: $texto-azul2;
}

/* FOOTER FOOTERR FOOOTEEERR */
.container-footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 150px;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 80%;
  width: 15%;
  background-color: $c_cuarto_d;
}

// MENSAJE DE NOT FOUND AL NO ENCONTRAR RESULTADOS
.notfound {
  font-size: 100px;
  background: red;
}

.image-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;

  .picnotfound {
    padding: 30px;
    width: 100%;
    height: 100%;
  }
}

// SWEET ALERT 
/* .swal2-styled.swal2-title.titlecolor{
  color: #75BAFF;
  color: red;
} */


/* not found cards */
.image-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 840px;


  border-radius: 50px;
  background: linear-gradient(145deg, #20212a, #252832);
  box-shadow:  20px 20px 17px #1e1f28,
           -20px -20px 17px #282b36;

  img {
    border-radius: 50px;
    height: 50%;
    width: 60%;
  }

  h1{
    color: #383b4b;
    font-size: 2.9vw;
  }
}
/* not found cards */


// VOLVER LA PAGINA ADAPTABLE A TODOS DISPOSITIVOS ----------------------- ----------
@media screen and (min-width: 300px) {
  /* ---------------------------------------- */
  .container-fluid {
    width: 100%;
  }

  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: absolute;
    height: 95%;
    right: 20px !important;
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .formtitulo {
    /* background: grey; */
    left: 0;
    width: 33%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 1.9vw;
    }
    form {
     /*  background-color: white; */
      height: 20%;
      width: 90%;
    }
    .formtitulo_insidewrapper {
     /*  background-color: black !important; */
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 20%;
      width: 100%;
    }
  }

  input {
    height: 12px !important;
    width: 100px !important;
  }

  input::placeholder {
    font-size: 1.2vw;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      margin-top: 10px;
      font-size: 2.5vw;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 2.5vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 2.1vw;
  }

  .activado {
    color: green !important;
  }


  //CARDS
  .cardspacer {
    padding-left: 0;
    padding-right: 0;
    /* height: 280px; */
    .card {
      height: 100%;
      width: 100%;
      /* height: 80%;   */
      display: flex;
      flex-direction: column;
      .cardinterior {
        /*  height: 50%; */
        .left {
          height: 90%;
          .iconofecha {
            height: 100%;
          }
          .profesortitle {
            h4, p{
              font-size: 2.8vw;
            }
          }
          .icono {
            display: none; // sin iconos
            width: 20px;
            height: 20px;
          }

          .ubicaciontxt{
            h4{
              font-size: 2.9vw;
            }
          }
        }
      }

      h3 {
        font-size: 3.6vw;
      }
    }
  }

  .card:hover {
    .cardinterior {
      border-radius: 13px;
    }
  }
  .image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 240px;
    img {
      height: 60%;
      width: 80%;
    }
  }

  //vamos a quitar el background del footer
  .container-footer {
    top: 10px;
    background-color: transparent;
  }
}

@media screen and (min-width: 480px) {
  //For Tablets
  .container-fluid {
    width: 450px;

  }

  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: absolute;
    height: 95%;
    right: 20px !important;
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  input {
    height: 12px !important;
    width: 100px !important;
  }

  input::placeholder {
    font-size: 1.2vw;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      margin-top: 10px;
      font-size: 2.5vw;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 2.5vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 2.1vw;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
    /* background: grey; */
    left: 0;
    width: 33%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 1.9vw;
    }
    form {
      /* background-color: white; */
      height: 35%;
      width: 90%;
    }
    .formtitulo_insidewrapper {
      /* background-color: black !important; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 30%;
      width: 100%;
    }
  }

  input {
    height: 25px !important;
    width: 130px !important;
  }

  input::placeholder {
    font-size: 1.8vw;
  }

  //CARDS
  .cardspacer {
    .card {
      display: flex;
      flex-direction: column;
      .cardinterior {

        .left {
         /*  .iconofecha {
          } */
          .profesortitle {
            h4, p {
              font-size: 2.8vw;
            }
          }
          .icono {
            display: none;
            width: 20px;
            height: 20px;
          }

          /* .virtual{
            .ubicaciontxt{
              h4{

              }
            }
          } */
        }
      }

      h3 {
        font-size: 2.8vw;
      }
    }
  }

  .card:hover {
    .cardinterior {
      border-radius: 13px;
    }
  }
  .image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 220px;
    img {
      height: 70%;
      width: 80%;
    }
  }
}

@media screen and (min-width: 600px) {
  //For Tablets
  .container-fluid {
    width: 570px;

  }

  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: absolute;
    height: 95%;
    right: 20px !important;
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      margin-top: 10px;
      font-size: 2.7vw;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 2.2vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 2.1vw;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
    /* background: grey; */
    left: 0;
    width: 33%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 1.9vw;
    }
    form {
      /* background-color: white; */
      height: 35%;
      width: 90%;
    }
    .formtitulo_insidewrapper {
     /*  background-color: black !important; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 30%;
      width: 100%;
    }
  }

  input {
    height: 27px !important;
    width: 160px !important;
  }

  input::placeholder {
    font-size: 1vw;
  }

  //CARDS
  .cardspacer {
    .card {
      display: flex;
      flex-direction: column;
      .cardinterior {

        .left {
          .icono {
            display: flex;
            width: 40px;
            height: 40px;
          }

          // FECHA Y NOMBRE PROFESOR
          .iconofecha{
            .profesortitle {
              h4{
                font-size: 1.5vw;
              }
              p {
                font-size: 1.8vw;
              }
            }
          }

          .virtual{
            // Nombre del la ubicacion
            .profesortitle {
              h4{
                font-size: 2.7vw;
              }
            }
          }
        }
      }

      h3 {
        font-size: 2.7vw;
      }
    }
  }

  .card:hover {
    .cardinterior {
      border-radius: 13px;
    }
  }
  .image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 285px;
    img {
      height: 70%;
      width: 80%;
    }
  }
}

@media screen and (min-width: 620px) and (max-width: 767px) {
  .container-fluid {
    width: 620px;
   /*  border: 2px solid yellowgreen; */
  }

  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: absolute;
    height: 95%;
    right: 20px !important;
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      font-size: 1.8vw;
    }
  }

  .iconofecha{
    .profesortitle {
      h4{
        font-size: 1.3vw;
      }
      p {
        font-size: 1.5vw;
      }
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 2.2vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 1.9vw;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
    /* background: grey; */
    left: 0;
    width: 33%;
    height: 68%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 1.5vw;
    }
    form {
      /* background-color: white; */
      height: 35%;
      width: 80%;
    }
    .formtitulo_insidewrapper {
      /* background-color: black !important; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 26% !important;
      width: 100%;
    }
  }

  input {
    height: 27px !important;
    width: 160px !important;
  }

  input::placeholder {
    font-size: 1vw;
  }


}

@media screen and (min-width: 768px) {
  //For Laptops
  .container-fluid {
    width: 738px;

  }

  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: absolute;
    height: 95%;
    right: 20px !important;
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      margin-top: 10px;
      font-size: 2.5vw;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 2.2vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 1.8vw;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
   /*  background: grey; */
    left: 0;
    width: 33%;
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 1.3vw;
    }
    form {
     /*  background-color: white; */
      height: 33%;
      width: 100%;
    }
    .formtitulo_insidewrapper {
      /* background-color: black !important; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 25%;
      width: 100%;
    }
  }

  input {
    height: 22px !important;
    width: 220px !important;
  }

  input::placeholder {
    font-size: 1vw;
  }


  //CARDS
  .cardspacer {
    .card {
      display: flex;
      flex-direction: column;
      .cardinterior {

        .left {
          .icono {
            display: flex;
            width: 40px;
            height: 40px;
          }
          
          // FECHA Y NOMBRE PROFESOR
          .iconofecha{
            .profesortitle {
            
              h4{
                font-size: 1.3vw;
              }
              p {
                font-size: 1.5vw;
              }
            }
          }

          .virtual{
            // Nombre del la ubicacion
            .profesortitle {
              h4{
                font-size: 2.0vw;
              }
            }
          }
          
        }
      }

      h3 {
        font-size: 2.0vw;
      }
    }
  }

  .card:hover {
    .cardinterior {
      border-radius: 13px;
    }
  }
  .image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    img {
      height: 80%;
      width: 80%;
    }
  }
}

@media screen and (min-width: 905px){

  .container-fluid {
    width: 738px;
 /*    border: 2px solid blue; */
  }

  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: relative;
    height: 95%;
    right: 0px !important;
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 90%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      font-size: 1.8vw;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 1.5vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 1.4vw;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
    /* background: grey; */
    left: 0;
    width: 23%;
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 1.1vw;
    }
    form {
     /*  background-color: white; */
      height: 33%;
      width: 100%;
    }
    .formtitulo_insidewrapper {
     /*  background-color: black !important; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 25%;
      width: 90%;
    }
  }

  .iconofecha{
    .profesortitle {
   
      h4{
        font-size: 1.3vw;
      }
      p {
        font-size: 1.0vw;
      }
    }
  }

  input {
    height: 22px !important;
    width: 160px !important;
  }

  input::placeholder {
    font-size: 1vw;
  }
}

@media screen and (min-width: 992px) {
  //For Large Laptops
  .container-fluid {
    width: 962px;

  }

  // CONTAINER DEL BUSCADOR DE MATERIAS
  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: relative;
    height: 95%;
    right: 20px !important;
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 90%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      font-size: 1.6vw;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 1.3vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 1.3vw;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
    /* background: grey; */
    left: 0;
    width: 18%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 0.8vw;
    }
    form {
      /* background-color: white; */
      height: 35%;
      width: 90%;
    }
    .formtitulo_insidewrapper {
      /* background-color: black !important; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 20%;
      width: 90%;
    }
  }

  input {
    height: 20px !important;
    width: 100% !important;
  }

  input::placeholder {
    font-size: 1vw;
  }

  //CARDS
  .cardspacer {
    .card {
      display: flex;
      flex-direction: row;
      .left {
        .icono {
          display: flex;
          width: 43px;
          height: 43px;
        }

        .iconofecha{
          .profesortitle {
            h4{
              font-size: 1.3vw;
            }
            p {
              font-size: 1.0vw;
            }
          }
        }

        
          .ubicaciontxt{
            h4{

              font-size: 1.7vw;
            }
          }

        

        
      }

      h3 {
        font-size: 1.8vw;
      }
    }
  }

  .card:hover {
    .cardinterior {
      border-radius: 13px;
    }
  }

  .image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 525px;
    img {
      height: 70%;
      width: 80%;
    }
  }
}

@media screen and (min-width: 1280px) {
  //For Big TV's (HD Screens)
  .container-fluid {
    width: 1250px;

  }

  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: relative;
    height: 95%;
    right: 20px !important;
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 90%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      font-size: 1.6vw;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 1.3vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 1.3vw;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
  /*   background: grey; */
    left: 0;
    width: 18%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 0.8vw;
    }
    form {
     /*  background-color: white; */
      height: 35%;
      width: 90%;
    }
    .formtitulo_insidewrapper {
      /* background-color: black !important; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 20%;
      width: 90%;
    }
  }

  input {
    height: 20px !important;
    width: 100% !important;
  }

  input::placeholder {
    font-size: 0.8vw;
  } 

  //CARDS
  .cardspacer {
    .card {
      display: flex;
      flex-direction: row;

      .left {
        .icono {
          display: flex;

          width: 43px;
          height: 43px;
        }

        // FECHA Y NOMBRE PROFESOR
        .iconofecha{
          .profesortitle {
           padding: 5px;
            h4{
              font-size: 1.5vw;
            }
            p {
              font-size: 1.2vw !important;
            }
          }
        }
        

        .virtual{
          // Nombre del la ubicacion
          .ubicaciontxt {
            h4{
              font-size: 1.5vw !important;
            }
          }
        } 
      }

      h3 {
        font-size: 1.8vw;
      }
    }
  }

  .card:hover {
    .cardinterior {
      border-radius: 13px;
    }
  } 

  .image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 690px;
    img {
      height: 70%;
      width: 80%;
    }
  }
}


@media screen and (min-width: 1537px){
  .container-fluid {
    width: 1500px;

  }

  .leftsmall {
    /* borrar esto por si se rompe todo xd xd */
    position: relative;
    height: 95%;
   
  }

  .container-sidebar {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    height: 58%; /* 55 */
    border-radius: 5px;
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      font-size: 1.6vw;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 1.3vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 1.3vw;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
  /*   background: grey; */
    left: 0;
    width: 20%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 1vw;
    }
    form {
      /* background-color: white; */
      height: 35%;
      width: 90%;
    }
    .formtitulo_insidewrapper {
     /*  background-color: black !important; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 20%;
      width: 100%;
    }
  }

  input {
    height: 20px !important;
    width: 100% !important;
  }

  input::placeholder {
    font-size: 1vw;
  }

  .cardspacer {
    .card {
      display: flex;
      flex-direction: row;

      .left {
        .icono {
          display: flex;

          width: 43px;
          height: 43px;
        }

        // FECHA Y NOMBRE PROFESOR
        .iconofecha{

          width: 400px;
          .profesortitle {
            width: 240px;

            h4,
            p {
              font-size: 1.0vw;
            }
          }
        }
        

        .virtual{
          width: 400px; /* PROBAMOS EL ANCHO TOTAL DEL LOGO UBICACION Y CORDOBA VIRTUAL TXT */


          // Nombre del la ubicacion
          .ubicaciontxt {
            width: 240px;

            h4{
              font-size: 1.3vw !important;
            }
          }
        } 
      }

      h3 {
        font-size: 1.8vw;
      }
    }
  }

  .card:hover {
    .cardinterior {
      border-radius: 13px;
    }
  } 

  /* .image-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 840px;


    border-radius: 50px;
    background: linear-gradient(145deg, #20212a, #252832);
    box-shadow:  20px 20px 17px #1e1f28,
             -20px -20px 17px #282b36;

    img {
      border-radius: 50px;
      height: 50%;
      width: 60%;
    }

    h1{
      color: #383b4b;
      font-size: 2.9vw;
    }
  } */
}