<!-- <nav class="sticky-top principalnav">
    <div class="navbar">

        <h4 class="text-white">Alkemy Labs</h4>

        <ul>
            <li class="lidni"><a>33388101</a></li>
            <li class="linombre"><a>Gaston Ponce</a></li>
        </ul>
    </div>
    
</nav> -->

<nav class="stycky-top container-fluid">

  <div class="navcontainer"> 

    <div class="titulo">
      <h3 id="textcolor">Alkemy School</h3>
    </div>

    <div class="usuario">
      <p class="nombre" id="textcolor">Ponce Gaston</p>
      <p class="dni text-center" id="textcolor">33344444</p>
    </div>

  </div>
</nav>