<app-navbar></app-navbar>
<div class="container-fluid">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <div class="formtitulo">
    <span>Buscar Materia A Inscribirse</span>
    <form [formGroup]="grupoFiltrar" (ngSubmit)="buscarDatos()" class="">
      <div class="navbar sticky-top regnavbar">
        <!-- buscarmateria -->
        <input
          type="text"
          placeholder="Nombre De Materia"
          [(ngModel)]="title"
          formControlName="buscar"
        />
      </div>

      
    </form>
  </div>

  <div class="container">
    <!-- <ng-container *ngIf="mostrarmensaje"
      ><p class="mensaje">
        Guardado con exito en CONSULTAS encontraras tu estado
      </p></ng-container
    > -->

    <!-- ALUMNO REGISTRARA SUS MATERIAS  -->
     
    <ng-container *ngIf="(materias | filter: title) as resultado">
      
      <ng-container *ngFor="let materia of resultado">

        

        <div class="cardspacer">

         <ng-template #tooltip>
          <p class="tooltipr">Inscribirse a rendir <strong>{{materia.nombre}}</strong>!</p>
         </ng-template>
         <!-- tooltip="INSCRIBIRSE A RENDIR EXAMEN" -->
          <div [tooltip]="tooltip" content-type="template" [options]="tooltipconfig" class="card" (click)="obtenerDatos(materia)">

            <div class="cardinterior">

              <div class="left">

                <div class="iconofecha">
                  
                  <div class="icono">
                    <i class="far fa-clock"></i>
                  </div>
  
                  <div class="profesortitle">
                    <h4>{{ materia.fecha }}</h4>
                    <p>Prof: {{ materia.nombre_d }} {{ materia.apellido_d }}</p>
                  </div>

                </div>
  
                <div class="virtual">

                  <div class="icono">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>

                  <div class="ubicaciontxt profesortitle">
                    <h4>{{ materia.ubicacion }}</h4>
                  </div>

                </div>
              </div>

            </div>
  
            <div class="txtcontainer">
              <h3 class="titulo">{{ materia.nombre }}</h3>
            </div>

          </div>

         

        </div>
  
      </ng-container>
   
     
      <div class="image-container bg-danger" *ngIf="resultado.length === 0">
        <img class="picnotfound" src="/assets/error.jpg" alt="Error Message">
      
       </div>
    

    </ng-container>

    









    <!-- <ng-container *ngFor="let materia of materias | filter: title; index as i">

      <p class="bg-danger notfound" *ngIf="materias.length == 0">No se encontro resultado</p>

      
      <div class="cardspacer">
       
        <div class="card" (click)="obtenerDatos(materia)">
          <div class="cardinterior">
            <div class="left">
              <div class="iconofecha">
                <div class="icono">
                  <i class="far fa-clock"></i>
                </div>

                <div class="profesortitle">
                  <h4>{{ materia.fecha }}</h4>
                  <p>Prof: {{ materia.nombre_d }} {{ materia.apellido_d }}</p>
                </div>
              </div>

              <div class="virtual">
                <div class="icono">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="profesortitle">
                  <h4>{{ materia.ubicacion }}</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="txtcontainer">
            <h3 class="titulo">{{ materia.nombre }}</h3>
          </div>
        </div>
      </div>

    </ng-container>
 -->
   

  </div>

  <!-- footer -->
  <div class="container-footer">
    
    <app-footer></app-footer>
  </div>
</div>
