<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">
  <div class="container">
    <div class="navbar sticky-top p-3">

      <div class="titleinscripciones">
          <h4>GESTIONAR SERVICIOS</h4>
      </div>
    </div>

    <div class="cardspacer"> 
      <div class="card">
        <div class="cardinterior">
            
          <div class="card-adm-materias" routerLink="/regmateria">
            <h2><a routerLink="/regmateria">ADMINISTRAR MATERIA</a></h2>
          </div>

          <div class="card-adm-maestros" routerLink="/regprofesor">
            <h2><a routerLink="/regprofesor">ADMINISTRAR PROFESOR</a></h2>
          </div>

        </div>
    </div>

    <!-- <ul>
      <li><a (click)="salir()">Salir</a></li>
      <li><span><a routerLink="/alumnodata">DATOS DE ALUMNOS</a></span></li>
    </ul> -->
       
   </div>
  </div>
</div>