@import "src/app/shared/paletaprincipal";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 100%;
  width: 100%;
  background: $c_quinto_d;
  overflow-y: hidden;
}
