<div class="container">
    <div class="nombre-alumno">
      <p class="starttitle">PONCE GASTON</p>
    </div>
    <br />
    <p class="starttxt">Condicion: Regular</p>
    <p class="starttxt">Total Materias: 10</p>
    <p class="starttxt">Aprobadas: 3</p>
    <p class="starttxt">Proximo examen:<br/>03/05/2021</p>
    <br />
    <li id="txt">
      <a routerLink="/consultaralumno" routerLinkActive="activado"
        >Consultar materia
      </a>
    </li>

    <li id="txt">
      <a routerLink="/registraralumno" routerLinkActive="activado"
        >Registrar materia</a
      >
    </li>

    <li id="txt">
      <a routerLink="/principalform" routerLinkActive="activado"
        >Formulario login</a
      >
    </li>
  </div>
