/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* intentamos fdata picker */

  /* .input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    width: 10px !important;
    min-width: 0;
    margin-bottom: 0;
  } */




/* @media screen and (max-width: 1600px) {
  .container-fluid{
    background-color: red;
  }

  input.form-control, .input-group-append{
    height: 30px !important;
  }

  .fa-calendar{
    display: none;
  }


   .sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    height: 90vh;
    width: 60% !important;
  
    .container-sidebar {
      height: 80%;
      width: 100%;
      background-color: blue;
    }
  }
  
  .starttitle {
    color: wheat;
    font-size: 3.9vw !important;
  }
  
  .starttxt {
    color: wheat;
    font-size: 2.2vw !important;
  }
  
  li {
    list-style: none;
    text-decoration: none;
  }
  
  .txt,
  a {
    text-decoration: none;
  
    font-size: 1.2vw !important;
  }
  
  .activado {
    color: green !important;
  }
  
}


@media screen and (max-width: 1200px) {

  .container-fluid{
    background-color: blue;
  }

  input.form-control, .input-group-append{
    height: 30px !important;
  }

  .fa-calendar{
    display: none;
  }
  
}


@media screen and (max-width: 960px) { 

  .container-fluid{
    background-color: grey;
  }

  input.form-control, .input-group-append{
    height: 30px !important;
  }

  .fa-calendar{
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .container-fluid{
    background-color: green;
  }

  input.form-control, .input-group-append{
    height: 30px !important;
  }

  .fa-calendar{
    display: none;
  }



   .sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green !important;
    height: 100vh;
    width: 150px !important;
  
    .container-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 80% !important;
      background-color: blue;
    }

  }
  
  .starttitle {
    color: wheat;
    font-size: 3.9vw !important;
  }
  
  .starttxt {
    color: wheat;
    font-size: 1.2vw !important;
  }
  
  li {
    list-style: none;
    text-decoration: none;
  }
  
  .txt,
  a {
    text-decoration: none;
    font-size: 4.2vw !important;
  }
  
  .activado {
    color: green !important;
  }
}

@media screen and (max-width: 620px) {

  .container-fluid{
    background-color: turquoise;
  }

  .card{
    width: 100% !important;
  }

  input.form-control, .input-group-append{
    height: 30px !important;
  }

  .fa-calendar{
    display: none;
  }


  .sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green !important;
    height: 100vh;
    width: 150px !important;
  
    .container-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 80% !important;
      background-color: blue;
    }

  }
  
  .starttitle {
    color: wheat;
    font-size: 3.9vw !important;
  }
  
  .starttxt {
    color: wheat;
    font-size: 1.2vw !important;
  }
  
  li {
    list-style: none;
    text-decoration: none;
  }
  
  .txt,
  a {
    text-decoration: none;
    font-size: 4.2vw !important;
  }
  
  .activado {
    color: green !important;
  }

}
  
  @media screen and (min-width: 320px) and (max-width: 575px){

    .container-fluid{

      background-color: yellow;
    }

    .container{
      width: 150% !important;
    }
     
    .card{
      width: 100% !important;
    }

    .cardinterior{
      width:300px !important;

    }

    input.form-control, .input-group-append{
      height: 30px !important;
    }

    .fa-calendar{
      display: none;
    }

  }

  .sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: purple;
    height: 80vh;
    width: 60% !important;
  
    .container-sidebar {
      height: 80%;
      width: 100%;
      background-color: blue;
    }
  }
  
  .starttitle {
    color: wheat;
    font-size: 3.9vw !important;
  }
  
  .starttxt {
    color: wheat;
    font-size: 2.2vw !important;
  }
  
  li {
    list-style: none;
    text-decoration: none;
  }
  
  .txt,
  a {
    text-decoration: none;
  
    font-size: 1.6vw !important;
  }
  
  .activado {
    color: green !important;
  }
   */

  .swal2-title{
    span{
      font-size: 3vw;
    }
  }


/*   .swal2-container{
    height: 50% !important;
    background-color: red !important;

    .swal2-popup{
      height: 50%;

      .swal2-header{
        height: 50%;
        .swal2-icon{ 
          .swal2-icon-content{ 

          }
        }

        .swal2-title{
            span{

            }

            button{

            }
        }
      }

      .swal2-content{

      }

      .swal2-actions{

      }
    }
  } */
  

  /* ._ngcontent-scf-c1{
    background-color: red !important;
    height: 10px !important;
  } */

  /* .fech{
    height: 10px;
  } */
