@import "src/app/shared/themes/_paletaprincipal";

* {
  /*   padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

.container-fluid {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* background: #23252f; */
  box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  border-bottom: 1px solid $texto-azul2;
  border-left: 2px solid $c_tercero_d;
  border-right: 2px solid $c_tercero_d;
}

 /* titulo para celular screen */
 .titleinscripciones_mobile {
  display: none;
  .h4_mobile {
    color: $texto-azul2;
    font-size: 3vw;
    text-shadow: -3px 0px 2px #234a70;
    font-weight: lighter;
  }
}

.titleinscripciones {
  h4 {
    color: $texto-azul2;
    font-size: 3vw;
    text-shadow: -3px 0px 2px #234a70;
    font-weight: lighter;
  }
}

.navbar {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  background: $c_cuarto_d;
  box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
  border: 3px solid $c_tercero_d;
}

.cardinterior {
  /*   background-color: green; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80%; /* --------------------------- marca la diferencia */
  width: 70%; /* --------------------------- marca la diferencia */
}

// formulario
.form-wrapper {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $c_cuarto_d;
  box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
  border: 3px solid $c_tercero_d;
}

.form-groupbtn {
  height: 100px;
  /*  background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.esconderbtn{
  display: none;
}

input {
  background: $c_segundo_d;
  color: white;
}

input:focus {
  background: $c_quinto_d;
  border: 1px solid transparent;
  color: white;
}

// input textbox read only
input[readonly] {
  background: #98a6ad;
  border: 0;
  font-size: 1em;
}

::placeholder {
  color: black;
}

::placeholder:focus {
  color: white;
}

.input-group-text {
  background: $c_quinto_d;
  i {
    color: $texto-azul2;
  }
}

.btn {
  display: block;
  height: 40px;
  width: 100%;
  background: $texto-azul2;
  color: black;
}

label {
  color: $texto-azul1;
}

/* .textbox:focus{
    background: white;
} */

/* FOOTER FOOTERR FOOOTEEERR */

/* ---------- nuevo sidebar ----------- */

.container-sidebar {
  /* padding-top: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  height: 58%; /* 55 */
  border-radius: 5px;
  background: #23252f !important;
  box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
}

.nombre-alumno {
  text-align: center;
  .starttitle {
    font-size: 1.6vw;
  }
}

/* WRAPPER DE LOS LINKS */
.links-wrapper {
  #txt {
    text-decoration: none;
    list-style: none;
    a {
      display: block;
      height: 30px;
      color: $texto-azul4;
      font-size: 1.3vw;
    }
  }
}

/* detalles de materia */
.starttxt {
  font-size: 1.3vw;
}

.activado {
  color: green !important;
}

.formtitulo {
  background: grey;
  left: 0;
  width: 20%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  span {
    /* texto del input */
    display: block;
    font-size: 1vw;
  }
  form {
    background-color: white;
    height: 35%;
    width: 90%;
  }
  .formtitulo_insidewrapper {
    background-color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    width: 100%;
  }
}

input {
  height: 20px !important;
  width: 100% !important;
}

input::placeholder {
  font-size: 1vw;
}

/* .container-footer {
  position: absolute;
  right: 10px;
  top: 120px;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 400px;
  width: 15%;
  background-color: $c_cuarto_d;

} */

.separacion {
  height: 70px;
}

/* Responsive registrar materia */

/* super desktop large*/
@media screen and (max-width: 1600px) {

  .container-fluid {
    border: #0e0f13 1px solid;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .supercontainer {
    display: flex;
    justify-content: space-evenly;
  }

  .container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    width: 200px;
    height: 80%; /* 55 */
    border-radius: 5px;
   /*  background-color: green !important; */
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .nombre-alumno {
    text-align: center;
    .starttitle {
      font-size: 1.6vw;
      color: $texto-azul4;
    }
  }

  /* WRAPPER DE LOS LINKS */
  .links-wrapper {
    #txt {
      text-decoration: none;
      list-style: none;
      a {
        display: block;
        height: 30px;
        color: $texto-azul4;
        font-size: 1.3vw;
      }
    }
  }

  /* detalles de materia */
  .starttxt {
    font-size: 1.3vw;
    color: $texto-azul4;
  }

  .activado {
    color: green !important;
  }

  .formtitulo {
/*     background: grey; */
    left: 0;
    width: 18%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      /* texto del input */
      display: block;
      font-size: 0.8vw;
    }
    form {
   /*    background-color: white; */
      height: 35%;
      width: 90%;
    }
    .formtitulo_insidewrapper {
      background-color: black !important;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 20%;
      width: 90%;
    }
  }

  input {
    height: 20px !important;
    width: 100% !important;
  }

  input::placeholder {
    font-size: 0.8vw;
  }

  /*   .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 95%;
    border-radius: 5px;
    background: #23252f;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .titleinscripciones {
    h4 {
      color: $texto-azul2;
      font-size: 3vw;
      text-shadow: -3px 0px 2px #234a70;
      font-weight: lighter;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
  } */

  .card {
    /*  background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    background: $c_cuarto_d;
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .cardinterior {
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90%; /* --------------------------- marca la diferencia */
    width: 70%; /* --------------------------- marca la diferencia */
  }

  // formulario
  .form-wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $c_cuarto_d;
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
    padding: 20px;
  }

  .form-groupbtn {
    height: 100px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  label {
    color: $texto-azul1;
  }

  input::placeholder {
    color: white;
    font-size: 10px;
  }

  input {
    /* background: $c_segundo_d; */
    background: rgba(255, 255, 255, 0.06);
    color: white;
  }

  input:focus {
    background: $c_quinto_d;
    border: 1px solid transparent;
    color: white;
  }

  // input textbox read only
  input[readonly] {
    /* background: #98A6AD; */
    background: rgba(255, 255, 255, 0.06);
    border: 0;
    font-size: 1em;
    text-align: center;
  }

  .separacion {
    height: 0px;
  }

  /* -------------------------------------------- sidebar --------------------------------------------------- */
  .sidebar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .links-wrapper{
    height: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .starttitle{
    font-size: 1.4vw !important;
  }

  .starttxt{
    color: wheat;
    font-size: 1.2vw;
  }

  .txt, a{
    font-size: 1.2vw !important;
  }

  .activado{
    color: green !important;
  }
}

/* desktop styles*/
@media screen and (max-width: 1200px) {
  .container-fluid {
    border: red 1px solid;
    height: 100vh;
    /* background-color: violet; */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 95%;
    border-radius: 5px;
    background: #23252f;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .titleinscripciones {
    h4 {
      color: $texto-azul2;
      font-size: 3vw;
      text-shadow: -3px 0px 2px #234a70;
      font-weight: lighter;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .card {
/*     background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    /* background: $c_cuarto_d; */
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .cardinterior {
   /*  background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80%; /* --------------------------- marca la diferencia */
    width: 80%; /* --------------------------- marca la diferencia */
  }

  // formulario
  .form-wrapper {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $c_cuarto_d;
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .form-groupbtn {
    height: 100px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  label {
    color: $texto-azul1;
    font-size: 1.2vw;
  }

  input::placeholder {
    color: white;
    font-size: 10px;
  }

  input {
    /* background: $c_segundo_d; */
    background: rgba(255, 255, 255, 0.06);
    color: white;
  }

  input:focus {
    background: $c_quinto_d;
    border: 1px solid transparent;
    color: white;
  }

  // input textbox read only
  input[readonly] {
    /* background: #98A6AD; */
    background: rgba(255, 255, 255, 0.06);
    border: 0;
    font-size: 1em;
    text-align: center;
  }

  .separacion {
    height: 0px;
  }

  .container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    width: 200px;
    height: 80%; /* 55 */
    border-radius: 5px;
   /*  background-color: green !important; */
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  /* -------------------------------------------- sidebar --------------------------------------------------- */
  .sidebar-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .starttitle{
    font-size: 2.1vw !important;
  }

  .starttxt{
    color: wheat;
    font-size: 1.7vw;
  }

  .txt, a{
    font-size: 2.2vw !important;
  }

  .activado{
    color: green !important;
  }

  
}

/* large tablets & laptop styles */
@media screen and (max-width: 960px) { /* -------------------------------------------------------------------------- */
  .container-fluid {
/*     background-color: green; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-radius: 5px;
 /*    background-color: red; */
    /* background: #23252f; */
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .titleinscripciones {
    h4 {
      color: $texto-azul2;
      font-size: 3vw;
      text-shadow: -3px 0px 2px #234a70;
      font-weight: lighter;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .card {
/*     background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 95%;
    /* background: $c_cuarto_d; */
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .cardinterior {
/*     background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 98%; /* --------------------------- marca la diferencia */
    width: 95%; /* --------------------------- marca la diferencia */
  }

  // formulario
  .form-wrapper {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
/*     background: red; */
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .form-groupbtn {

    height: 100px;
/*     background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .col-sm-6{
    height: 150px;
/*     background-color: green; */
  }

  label {
    color: $texto-azul1;
    font-size: 2.3vw;
  }

  input::placeholder {
    color: white;
    font-size: 2.1vw;
  }

  input {
    /* background: $c_segundo_d; */
    background: rgba(255, 255, 255, 0.06);
    color: white;
    height: 30px !important;
  
  }

  input:focus {
    background: $c_quinto_d;
    border: 1px solid transparent;
    color: white;
  }

  // input textbox read only
  input[readonly] {
    /* background: #98A6AD; */
    background: rgba(255, 255, 255, 0.06);
    border: 0;
    font-size: 1em;
    text-align: center;
  }

  .separacion {
    height: 0px;
  }

  .container-footer {
    height: 20%;
    width: 68%;
    margin-top: -12%;
    margin-right: 140px;
  }

  .container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    width: 200px;
    height: 80%; /* 55 */
    border-radius: 5px;
   /*  background-color: green !important; */
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  /* -------------------------------------------- sidebar --------------------------------------------------- */
  .sidebar-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .starttitle{
    font-size: 2.1vw !important;
  }

  .starttxt{
    color: wheat;
    font-size: 1.7vw;
  }

  .txt, a{
    font-size: 2.2vw !important;
  }

  .activado{
    color: green !important;
  }
}

@media screen and (max-width: 767px) {
  /* .container-fluid {
    background-color: yellow;
  }
 */
  .container-footer {
    margin-top: -116px;
    margin-right: 114px;
  }

  nav {
/*     background-color: red; */
    border-radius: 5px;
  }
}

@media screen and (max-width: 620px) {
  .container-fluid {
/*     background-color: purple; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    border-radius: 5px;
    background: #23252f;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  /* asdasdasdasdasdasdasdasdwrgrfgf */

  .titleinscripciones {
    h4 {
      color: $texto-azul2;
      font-size: 3vw;
      text-shadow: -3px 0px 2px #234a70;
      font-weight: lighter;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .card {
/*     background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 95%;
    /* background: $c_cuarto_d; */
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .cardinterior {
/*     background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 98%; /* --------------------------- marca la diferencia */
    width: 95%; /* --------------------------- marca la diferencia */
  }

  // formulario
  .form-wrapper {
    width: 95%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $c_cuarto_d;
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .form-groupbtn {
    /* height: 100px; */
/*     background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
  }

  label {
    color: $texto-azul1;
    font-size: 1.7vw;
  }

  button {
    font-size: 1.9vw;
  }

  input::placeholder {
    color: white;
    font-size: 10px;
  }

  input {
    /* background: $c_segundo_d; */
    background: rgba(255, 255, 255, 0.06);
    color: white;
  }

  input:focus {
    background: $c_quinto_d;
    border: 1px solid transparent;
    color: white;
  }

  // input textbox read only
  input[readonly] {
    /* background: #98A6AD; */
    background: rgba(255, 255, 255, 0.06);
    border: 0;
    font-size: 1em;
    text-align: center;
  }

  .separacion {
    height: 0px;
  }

  .container-footer {
    height: 20%;
    width: 78%;
    margin-top: -9%;
    margin-right: 55px;
  }
}

@media screen and (max-width: 575px) {
  .container-fluid {
/*     background-color: turquoise;  *//*  -------------------------------- */
    display: flex;
    flex-direction: column;
  }
   
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-radius: 5px;
/*     background-color: red; */
    background: #23252f;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .titleinscripciones {
    h4 {
      color: $texto-azul2;
      font-size: 3vw;
      text-shadow: -3px 0px 2px #234a70;
      font-weight: lighter;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .card {
/*     background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    /* background: $c_cuarto_d; */
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .cardinterior {
 /*    background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 98%; /* --------------------------- marca la diferencia */
    width: 95%; /* --------------------------- marca la diferencia */
  }

  // formulario
  .form-wrapper {
    width: 95%;
    height: 90% !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
/*     background: red; */
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .form-groupbtn {
    height: 25px;
 /*    background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  button{
    height: 12px;

  }

  .col-sm-6{
    height: 50px;
/*     background-color: green; */
  }

  .esconderbtn{
    display: none;
  }

  label {
    color: $texto-azul1;
    font-size: 2.3vw;
  }

  input::placeholder {
    color: white;
    font-size: 2.1vw;
  }

  input {
    /* background: $c_segundo_d; */
    background: rgba(255, 255, 255, 0.06);
    color: white;
    height: 20px !important;
  
  }

  input:focus {
    background: $c_quinto_d;
    border: 1px solid transparent;
    color: white;
  }

  // input textbox read only
  input[readonly] {
    /* background: #98A6AD; */
    background: rgba(255, 255, 255, 0.06);
    border: 0;
    font-size: 1em;
    text-align: center;
  }

  .separacion {
    height: 0px;
  }

  .container-footer {
    height: 20%;
    width: 68%;
    margin-top: -12%;
    margin-right: 140px;
  }

  .container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    width: 200px;
    height: 80%; /* 55 */
    border-radius: 5px;
   /*  background-color: green !important; */
    background: #23252f !important;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }
 
  /* -------------------------------------------- sidebar --------------------------------------------------- */
  .sidebar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  .starttitle{
    font-size: 2.7vw !important;
  }

  .starttxt{
    color: wheat;
    font-size: 2.5vw !important;
  }

  .txt, a{
    font-size: 2.6vw !important;
  }

  .activado{
    color: green !important;
  }
}

@media screen and (max-width: 320px) {
  .container-fluid {
    height: 100vh;
/*     background-color: pink; */
  }

  .container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 80%;
    border-radius: 5px;
    background: #23252f;
    box-shadow: 5px -5px 10px #0e0f13, -5px 5px 10px #383b4b;
  }

  .titleinscripciones {
    h4 {
      color: $texto-azul2;
      font-size: 3vw;
      text-shadow: -3px 0px 2px #234a70;
      font-weight: lighter;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
  }

  .card {
/*     background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background: $c_cuarto_d; */
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .cardinterior {
/*     background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 98%; /* --------------------------- marca la diferencia */
    width: 95%; /* --------------------------- marca la diferencia */
  }

  // formulario
  .form-wrapper {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $c_cuarto_d;
    box-shadow: -15px -15px 30px #16181e, 15px 15px 30px #303240;
    border: 3px solid $c_tercero_d;
  }

  .form-groupbtn {
    height: 100px;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
  }

  label {
    color: $texto-azul1;
    font-size: 1.7vw;
  }

  button {
    font-size: 1.9vw;
  }

  input::placeholder {
    color: white;
    font-size: 10px;
  }

  input {
    /* background: $c_segundo_d; */
    background: rgba(255, 255, 255, 0.06);
    color: white;
    height: 15px;
  }

  #fechacontainer {
    height: 5px;
  }

  ng-bootstrap-datetime-angular {
   /*  background-color: red; */
    color: green;
    height: 10px;
  }

  .ng-reflect-ng-class {
    height: 10px;
   /*  background-color: red; */
  }
  ._ngcontent-vqe-c1 {
   /*  background-color: red; */
    height: 10px;
  }

  .cambiar {
    /* background-color: red; */
    color: green;
    height: 10px;
  }

  input:focus {
    background: $c_quinto_d;
    border: 1px solid transparent;
    color: white;
  }

  // input textbox read only
  input[readonly] {
    /* background: #98A6AD; */
    background: rgba(255, 255, 255, 0.06);
    border: 0;
    font-size: 1em;
    text-align: center;
  }

  .separacion {
    height: 0px;
  }

  .container-footer {
    height: 20%;
    width: 78%;
    margin-top: -9%;
    margin-right: 55px;
  }
}